:root {
	--black: #292d33;

	--light-grey: #f2f4f7;
	--middle-grey: #eaecf0;
	--dark-grey: #d0d5dd;
	--ground-gray: #98a2b3;

	--clear: #fff;
	--white: #f9fafb;

	--blue: #f0f9fc;
	--ground-blue: #667085;
	--dark-blue: #333842;

	--light-green: #e7f7ef;
	--middle-light-green: #d4efdf;
	--primary-green: #22aa5c;
	--middle-green: #289c5c;
	--dark-green: #2c7351;
}
