:root {
	--font-family-main: HelveticaNeue, Arial, sans-serif;

	--font-14-lh22: 14px / 22px var(--font-family-main);
	--font-16-lh24: 16px / 24px var(--font-family-main);

	--font-weight-300: 300;
	--font-weight-500: 500;
}
