:root {
	/* color-scheme: light dark; */
	--main-text-color: var(--dark-blue);
	--main-background-color: var(--white);

	/* header */
	--header-text-color: var(--white);
	--header-background-color: var(--dark-blue);

	/* button primary */
	--button-primary-text-color: var(--white);
	--button-primary-background-color: var(--green);
	--button-primary-border-color: var(--green);

	--button-primary-text-disabled-color: var(--white);
	--button-primary-background-disabled-color: var(--light-green);
	--button-primary-border-disabled-color: var(--light-green);

	--button-primary-text-hover-color: var(--white);
	--button-primary-background-hover-color: var(--middle-green);
	--button-primary-border-hover-color: var(--green);

	/* button secondary */
	--button-secondary-text-color: var(--dark-blue);
	--button-secondary-background-color: var(--white);
	--button-secondary-border-color: var(--green);

	--button-secondary-text-disabled-color: var(--light-blue);
	--button-secondary-background-disabled-color: var(--white);
	--button-secondary-border-disabled-color: var(--light-green);

	--button-secondary-text-hover-color: var(--white);
	--button-secondary-background-hover-color: var(--green);
	--button-secondary-border-hover-color: var(--green);
}

/* @media (prefers-color-scheme: light) {
	#wavix-widget {}
} */

/* @media (prefers-color-theme: dark) {
	#wavix-widget {}
} */
