#wavix-chat-widget-root {
	/* color-scheme: light dark; */

	--text-main-color: var(--dark-blue);
	--text-secondary-color: var(--clear);

	--background-main-color: var(--white);
	--background-secondary-color: var(--primary-green);

	--border-main-color: var(--primary-green);
	--border-secondary-color: var(--clear);
}

/* @media (prefers-color-scheme: light) {
	#wavix-widget {}
} */

/* @media (prefers-color-theme: dark) {
	#wavix-widget {}
} */
