:root {
	--widget-width: 432px;
	--widget-height: 650px;
	--widget-z-index: 9999;

	--border-radius-4: 4px;

	--spacing-2: 2px;
	--spacing-4: 4px;
	--spacing-8: 8px;
	--spacing-16: 16px;
	--spacing-24: 24px;
	--spacing-32: 32px;
	--spacing-40: 32px;
	--spacing-48: 48px;
	--spacing-56: 56px;
	--spacing-64: 64px;

	--duration-1: 0.6s;
	--timing-function-1: cubic-bezier(0.2, 1, 0.4, 1);
}
